body{
  background-image: url(images/bg.jpg);
  background-size: cover;

}

h1{
  font-size: 5rem;
}
h2{
  font-size: 3.5rem;
}
h3 {
      font-size: 2.5rem;
    }

    p {
      margin-bottom: 1.8rem;
      color: var(--text-light);
    }

    .dark {
    --primary-bg: #181a20;
    --primary-text: #f9f9f9;
    --nav-bg: #23272f;
    --nav-text: #f3f3f3;
    --footer-bg: #23272f;
    --footer-text: #f3f3f3;
    --card-bg: #23272f;
    background: url(images/bgdark.png) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    }